[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
scrapy-sentry-errors = "1.0.0"
scrapy-wayback-middleware = "*"
city-scrapers-core = {extras = ["gcs"], version = "*"}

[dev-packages]
freezegun = "*"
pytest = "*"
"flake8" = "*"
isort = "*"
black = "*"

[requires]
python_version = "3.9"
